<h1>New Artist</h1>

<%= render :partial => 'form' %>



<h1>Add a new Artist to our Collection</h1>

<%= form_for @artist do |f| %>
  <%= f.label :artist_id %>
  <%= f.select :artist_id, Artist.all.map{|artist| [artist.name,artist.id]}, :include_blank => true, :prompt => "Pick Artist!" %>
  
  <br>
  <%= f.text_field :name %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :dob %>
  <%= f.label :dob %>
  <br>
  <%= f.text_field :nationality %>
  <%= f.label :nationality %>
  <br>
  <%= f.text_field :period %>
  <%= f.label :period %>
  <br>
  <%= f.text_field :image %>
  <%= f.label :image %>
  <br>
  <%= f.submit %>
<% end %>